In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('practical4.csv')

In [3]:
df

,Math_score,Reading_score,wtiting_score,placement_score,Club_join_date,placement offer count
0,65,84,62,99,2020,3
1,74,84,60,88,2019,3
2,72,77,67,98,2020,3
3,60,88,61,82,2021,2
4,77,92,71,84,2021,2
...,...,...,...,...,...,...
74,63,86,68,78,2019,2
75,74,76,77,87,2018,3
76,66,94,78,100,2020,3
77,61,82,66,75,2019,2
78,61,77,79,78,2020,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Math_score             79 non-null     int64
 1   Reading_score          79 non-null     int64
 2   wtiting_score          79 non-null     int64
 3   placement_score        79 non-null     int64
 4   Club_join_date         79 non-null     int64
 5   placement offer count  79 non-null     int64
dtypes: int64(6)
memory usage: 3.8 KB

In [5]:
df.isnull()

,Math_score,Reading_score,wtiting_score,placement_score,Club_join_date,placement offer count
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
74,False,False,False,False,False,False
75,False,False,False,False,False,False
76,False,False,False,False,False,False
77,False,False,False,False,False,False
78,False,False,False,False,False,False

In [9]:
df.Math_score

0     65
1     74
2     72
3     60
4     77
      ..
74    63
75    74
76    66
77    61
78    61
Name: Math_score, Length: 79, dtype: int64

In [10]:
df[["Math_score","Reading_score"]]

    Math_score  Reading_score
0           65             84
1           74             84
2           72             77
3           60             88
4           77             92
..         ...            ...
74          63             86
75          74             76
76          66             94
77          61             82
78          61             77

[79 rows x 2 columns]

In [11]:
df.Math_score.max()

np.int64(80)

In [12]:
print(df.Math_score.max())

80

In [13]:
df.Math_score.min()

np.int64(60)

In [15]:
df.Math_score.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
74    False
75    False
76    False
77    False
78    False
Name: Math_score, Length: 79, dtype: bool

In [16]:
df.isnull().sum()

Math_score               0
Reading_score            0
wtiting_score            0
placement_score          0
Club_join_date           0
placement offer count    0
dtype: int64

In [17]:
sum(df.isnull().sum())

0

In [19]:
df.wtiting_score.sum()

np.int64(5573)

In [20]:
df.wtiting_score.max()

np.int64(80)

In [21]:
df.wtiting_score.min()

np.int64(60)

In [23]:
x=df.Reading_score.isnull()

In [24]:
x

0     False
1     False
2     False
3     False
4     False
      ...
74    False
75    False
76    False
77    False
78    False
Name: Reading_score, Length: 79, dtype: bool

In [25]:
df.Reading_score.fillna(x)

0     84
1     84
2     77
3     88
4     92
      ..
74    86
75    76
76    94
77    82
78    77
Name: Reading_score, Length: 79, dtype: int64

In [26]:
df.describe()

,Math_score,Reading_score,wtiting_score,placement_score,Club_join_date,placement offer count
count,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,70.797468,85.455696,70.544304,87.316456,2019.481013,2.607595
std,6.397876,5.728466,6.507978,7.640218,1.010975,0.491406
min,60.000000,75.000000,60.000000,75.000000,2018.000000,2.000000
25%,65.500000,82.000000,65.500000,79.000000,2019.000000,2.000000
50%,71.000000,86.000000,71.000000,88.000000,2020.000000,3.000000
75%,77.000000,90.000000,77.000000,94.000000,2020.000000,3.000000
max,80.000000,95.000000,80.000000,100.000000,2021.000000,3.000000